.measure-tool-single-context-menu {
    outline: none;
    position: fixed;
    display: none;
    transform: translate3d(0,0,0);
    max-width: 265px;
    z-index: 1;
    outline-offset: -2px;
    white-space: nowrap;
    cursor: default;
    margin: 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.48);
    border-radius: 3px;
    padding: 8px 0px;
}

.measure-tool-single-context-menu-item {
    padding: 10px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.measure-tool-context-menu-item-delete-icon {
    display: inline-block;
    margin: 0px 26px 0px 30px;
    width: 18px;
    height: 18px;
    color: rgba(0, 0, 0, 0.54);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="grey" width="18px" height="18px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4z"/></svg>');
}

.measure-tool-context-menu-item-text {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.44px;
    color: #000000;
    padding-right: 40px;
}